<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h2 class="card-title"><%=@email.object%></h2>
    
    <p class="card-text"><%=@email.body%></p>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>